@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

.text-gray-800 {
  color: #2d3748;
}

.text-gray-600 {
  color: #718096;
}

.font-bold {
  font-weight: 700;
}

.group:hover .opacity-0 {
  opacity: 1;
}

.text-gold {
  color: #d4af37; /* Gold */
}

.bg-gold {
  background-color: #d4af37; /* Gold */
}
